<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>0AC06FFF-A12F-4FB9-BEE0-F287DFA658E8.playgroundpage</string>
		<string>C25028C3-C230-49FA-9896-BC112E57A4EE.playgroundpage</string>
		<string>8A098379-B763-4929-A1ED-5D155C7C9D8A.playgroundpage</string>
		<string>5BF230E9-6A2A-41FE-95C5-D970DED1C5FA.playgroundpage</string>
		<string>C81E5434-1DBE-4038-B0F0-0A56120B9274.playgroundpage</string>
	</array>
</dict>
</plist>
